.chatBox-wrapper {
    width: 60vh;
    height: 80vh;
    border: 1px solid;
    margin: auto;
    margin-top: 10vh;
}

.chatBox-header {
    width: 100%;
    height: 10vh;
    border-bottom:1px solid ;
    background-color: darkblue;
}

.chatBox-body {
    width: 100%;
    height: 59vh;
    border-bottom: 1px solid;
    background-color: aliceblue;
}

.chatBox-bottom {
    width: 100%;
    height: 6vh;
    /* border-bottom:1px solid ; */
}
.chatBox-bottom input {
    border: none;
    width: 99%;
    height: 100%;
    border: none;
    width: 91%;
    height: 100%;
    margin-top: 1vh;
    margin-left: 4%;
    margin-top: 4%;
    border-radius: 5vh ;

}
.chatBox-bottom input:focus {
    outline: none;
}